body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404041;
  text-align: center;
  width: 100%;
  height: 90px;
}
main {
  text-align: center;
}

h1 {
  padding: 20px;
  color: #ED458B;
  font-size: 50px;
}

#user-input {
  height: 30px;
  width: 100px;
  display: block;
  margin: 20px auto;
  outline: none;
}

#results {
  margin-top: 40px;
}

h3 {
  margin: 20px 0;
  font-size: 100px;
  color: #ED458B;
}
span {
  font-family: 'Open Sans', sans-serif;
  color: #E6E7E8;
}

#reset {
  margin: 20px 0;
}
button {
    background-color: #A9A9A9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:25% 25% 25% 25%;
}
h2 {
  font-family: "courier new";
}
